@charset "utf-8";
.page{background: url("../img/bg.jpg") no-repeat right center;
    -webkit-background-size: cover;
    background-size: cover;}
.content-block{margin-top: 70vh; padding: 0;}
.card{padding: 1rem 0.8rem 0.8rem;}
.list-block .item-content{padding-left: 0; min-height: 0;}
.list-block .item-inner{border-bottom: none; padding-bottom: 0.5rem;
    box-lines: multiple; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.list-block .item-title.label{width: 100%; margin: 0.6rem 0;}
.list-block .item-input input,.list-block .item-input select{ font-size: 0.8rem; border-radius: 5px;}
.list-block .item-input .input-border{border: 1px solid #ccc; }
.item-input .item-inner{min-height: 0; padding-bottom: 0.2rem;}
.item-input .item-media{padding-bottom: 0.2rem;}
.list-block .item-input+.item-input{margin-top: 0.55rem;}
.list-block .item-input p{margin: 0.1rem 0; font-size: 0.7rem;}




















